mock_api/apiwrapper
mock_api/cragapi
mock_api/cragkg

venv/
raptor/
graphrag/
REPLUG/

*.ipynb
__pycache__/

logs/
.run_status/

results
output.log

incomplete/

datasets/crag*
datasets/dialfact*
datasets/health*

dataset_extractions/
experiments/
comparisons/
oldresults/
config_test/

*.zip
/FiD
/HiRAG
/hirag*
/self-rag
/data-gym-cache
/comparisons*
/atlas
/.cursor

eval_fid.py


config*
result*
*.log
generate*

benchmark_reports/
mock_api/
docs/
data/
corag/
configs_8b/
run_all_*.sh